<div style="margin-top: 10px;" class="span4">
    <div style='text-align: center;padding-bottom: 30px;'>
        <img style="margin-bottom: 0px;"src="img/retrofitta-logo.png"> <br>
        
        <h4 style="color: #007cce;">Fund Retrofits, Save Mother Earth</h4>
        
        <button class="btn btn-lg btn-primary" ng-click="login()" style="margin-top: 150px;">Login with Salesforce</button> <br>
        
        <p style="position: absolute; bottom: 0"><hr>@retrofitta</p>
    </div>
</div>

