<div class="span4">
  <h3><strong>{{building.Name}}</strong></h3>

  <p>Zip Code: {{building.zip_code__c}}</p>

  <p>Classification: {{building.classification_type__c}}</p>

  <p>Climate Zone: {{building.Climate_Zone__c}}</p>

  <p class="text-muted">The building manager of {{building.Name}} is planning on upgrading the lighting, cooling, and heating system to decrease the building's <b>EUI</b> by <b>10%</b></p>


	<div>
		<p class="pull-right">3000</p>
	</div>

	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	    <span class="sr-only">60% Complete</span>
	  </div>
	</div>
   
   <div class="text-center">
   	<a class="btn btn-success btn-lg" href="http://www.kickstarter.com">Fund This Retrofit</a>
   </div>


	<hr>
	<p>
      <!-- <a class="btn" href="#buildings/{{building.Id}}/edit">Edit</a> -->
      <a class="btn btn-primary" href="#/buildings">Back to Buildings</a>
 
  </p>
</div>